<template>
    <ul class="list-group">
        <ol class="breadcrumb">
            <li><a href="#" @click="getDropboxFiles('/')">Home</a></li>
            <li v-for="(breadcrumb, index) in breadcrumbs" >

                <a :href="href(breadcrumb.title)"
                   @click="getDropboxFiles(breadcrumb.url)" >{{breadcrumb.title}}</a>
            </li>
        </ol>
        <li v-for="file in files" class="list-group-item">
            <a
                    :href="href(file.path)"
                    v-if="file.is_dir" class="pointer hover folder"
                    @click="getDropboxFiles(file.path, true)">
                {{filename(file.path)}}
                <span class="glyphicon glyphicon-folder-open pull-right" aria-hidden="true"></span>
            </a>
            <div v-else>
                {{filename(file.path)}}
                <span class="glyphicon glyphicon glyphicon-cloud-download pull-right pointer hover"
                      data-toggle="tooltip"
                      data-placement="top"
                      title='Download to app'
                      aria-hidden="true"
                      @click="downloadFile(file.path)"
                ></span>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        data() {
            return {
                files: {},
                breadcrumbs: []
            }
        },
        created() {
            this.getDropboxFiles('/');
        },
        methods: {
            getDropboxFiles(directory){
                this.$parent.spinner = true;
                this.$http.get('/dropboxfiles?directory=' + encodeURIComponent(directory))
                    .then(response => {
                        this.$parent.spinner = false;
                        this.files = response.body.contents;
                        this.generateBreadcrumbs(directory);

                    });

            },
            downloadFile(path){
                Event.$emit('downloadDropboxFile', path);

            },

            href(url){
                return '#' + url.toLowerCase().replace(/ /g, '-');
            },

            filename(path){
                return path.substring(path.lastIndexOf("/") + 1);
            },

            generateBreadcrumbs(url){
                this.breadcrumbs = [];
                if (url !== '/') {
                    if (url[0] == '/') {
                        url = url.substring(1);
                    }
                    var crumbs = url.split('/'),
                        fullurl = '';
                    for (var i = 0; i < crumbs.length; i++) {
                        fullurl += '/' + crumbs[i];
                        this.breadcrumbs.push({title: crumbs[i], url: fullurl});
                    }
                }

            }
        }
    }
</script>
