<template>
    <ul class="list-group" id="localFiles">

        <li v-for="file in files" class="list-group-item">
            {{file.filename}}
            <span class="glyphicon glyphicon-trash pull-right pointer hover" aria-hidden="true"
                  @click="deleteFile(file)"
            ></span>
            <a class="glyphicon glyphicon-download-alt pull-right pointer hover" aria-hidden="true" download
               :href="downloadLink(file)"
            ></a>
        </li>
    </ul>
</template>

<script>
    export default {
        data() {
            return {
                files: {}
            }
        },
        created() {
            this.getDropboxFiles('/');

            //global event listener for dropbox file download
            Event.$on('downloadDropboxFile', path => {
                this.downloadDropboxFile(path);
            });
        },
        methods: {
            getDropboxFiles(directory){
                this.$http.get('/localfiles', {
                    directory: directory
                }).then(response => {
                    this.files = response.body;
                });

            },

            downloadDropboxFile(path){
                this.$parent.spinner = true;
                this.$http.post('/saveFile', {
                    files: path
                }).then(response => {
                    this.files.push(response.body.file);
                    this.$parent.spinner = false;
                }, error => {
                    this.$parent.spinner = false;
                    alert('error duting download');
                });
            },

            deleteFile(file){
                if (confirm('Delete file from app?')) {
                    this.$parent.spinner = true;
                    this.$http.post('/deleteFile', {
                        file: file.path + file.filename,
                        id: file.id,
                        _method: 'delete'
                    }).then(response => {
                        this.$parent.spinner = false;
                        var index = this.files.indexOf(file);
                        this.files.splice(index, 1);
                    }, error => {
                        this.$parent.spinner = false;
                        alert('error duting delete');
                    });
                }
            },
            downloadLink(file){
                var url =file.path + file.filename;
                url = url.substr(1);
                return 'download/' + url;
            }
        }
    }
</script>
